/*
 * Practice : Z-index, !important and Inheritance
 * Version: 1
 * By: xxx
 */

/* CSS Reset Start */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End */

/* Main content */
.page-content {
  background-color: rgb(213, 234, 223);
  font-family: 'Raleway', Verdana, Arial, sans-serif;
  font-weight: 100;
  overflow: hidden;
  padding: 0px;
}

.page-content p::first-letter {
  font-weight: bold;
}

.main-container {
  padding: 80px;
  position: relative;
}

.main {
  box-sizing: border-box;
  color: white;
  background-color: rgb(123, 196, 206);
  text-transform: uppercase;
  font-weight: 100;
  padding: 50px;
  padding-right: 40%;
}

.main .header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: none;
}

.main .content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main hr {
  background-color: rgb(180, 151, 162);
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main p {
  line-height: 1.5rem;
  font-weight: 100;
}

.main .note {
  background-color: rgb(228, 243, 245);
  color: black;
  text-transform: none;
  margin-left: -50px;
  padding: 30px;
  padding-left: 50px;
}

.main .note .title {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Sidebar */

.sidebar-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  z-index: 2;
}

.sidebar {
  background-color: rgb(223, 224, 142);
  position: absolute;
  margin-top: 80px;
  padding: 50px;
  width: 30%;
  height: 80%;
  top: 80px;
  right: 80px;
  z-index: 3;
}

.sidebar .title-list {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar ul li {
  position: relative;
  line-height: 1.7rem;
}

.sidebar li::before{
  position: absolute;
  z-index: 4;
  background: green;
  content: "";
  width: 150px;
  height: 150px;
  top: 210px;
  transform: rotate(35deg);
}

.sidebar li:nth-child(1)::before {
  background: rgb(226, 46, 72);
}

.sidebar li:nth-child(2)::before {
  left: 30px;
  background: rgb(228, 119, 54);
}


.sidebar li:nth-child(3)::before {
  left: 60px;
  background: rgb(191, 229, 121);
}


.sidebar li:nth-child(4)::before {
  left: 90px;
  background: rgb(105, 230, 197);
}


.sidebar li:nth-child(5)::before {
  left: 90px;
  background: rgb(65, 124, 223);
}


.sidebar li:nth-child(6)::before {
  left: 60px;
  background: rgb(226, 55, 203);
}


.sidebar li:nth-child(7)::before {
  left: 30px;
  background: rgb(216, 226, 231);
}

.sidebar li:nth-child(8)::before {
  background: rgb(255, 46, 72);
}

.content .input-container {
  border: none;
  position: relative;
}

.content .input-container input{
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 1.3rem;
  padding-left: 30px;
}

.content .input-container::after {
  color: black;
  content: '\e880';
  font-family:'Material Icons';
  height: 1rem;
  left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}

.title::after {
  color: black;
  content: '\e236\e234\e237';
  float: right;
  font-family: 'Material Icons';
  height: 1rem;
}

.note button {
  align-items: center;
  background-color: #f24684;
  color: white;
  display: flex;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
}

.note button:focus {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  outline: none;
}

.note button i {
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar li:nth-child(even) {
  font-size: 12pt;
}

.sidebar li:nth-child(even)::after {
  content: ' - using pt';
  font-weight: bold
}

.sidebar li:nth-child(2n) {
  font-size: 1em;
  font-weight: 400;
}

.sidebar li:nth-child(2n+3)::after {
  content: ' - using em';
  font-weight: bold;
}
